@import '../../styles/variables.module.scss';

.registerPageWrapper {
    width: 100%;
    height: 100vh;
    background-color: map-get($colorscheme, background-primary);
}

.logoWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.logo{
    width: 8rem;
    height: auto;
}