@import "../../../styles/variables.module.scss";

.projectPageWrapper {
  width: 100vw;
  height: 90vh;
  padding: 5rem;
  background-color: map-get($cs, background-primary);
  .contentWrapper {
    width: 100%;
    .project {
      display: grid;
      gap: 1px;
      grid-template-columns: repeat(3, 1fr);
      background-color: map-get($cs, background-primary);
      .milestone {
        width: 200px;
        display: grid;
        gap: 1px;
        grid-template-columns: repeat(3, 1fr);
        background-color: map-get($cs, background-secondary);
        .task {
          width: 100px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          background-color: map-get($cs, highlight-secondary);
          .comment {
            display: flex;
            background-color: map-get($cs, highlight-secondary);
          }
        }
      }
    }
  }
}
