@import '../styles/variables.module.scss';

.pageWrapper {
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:map-get($cs,   background-primary);
}
