// colorscheme
$cs: (
  background-primary: #F2F2F2,
  background-secondary: #43474b,
  highlight-primary: #ffc107,
  highlight-secondary: #7952b3,
  logo-primary: #007AFF,
  logo-secondary: #312ECB,
);
