// colorscheme
$cs: (
  background-primary: #e1e8eb,
  background-secondary: #343a40,
  highlight-primary: #ffc107,
  highlight-secondary: #7952b3,
  logo-primary: #007AFF,
  logo-secondary: #312ECB,
);
